{% extends "base.twig" %}

{% block content %}
    <div class="row ">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                {% for weather in weathers %}
                    {% if loop.index0 % 4 == 0 %}
                        </div>
                        <div class="row">
                    {% endif %}
                        <div class="col-lg-3">
                            {% if weather.high != null %}
                                {{ include('new-weather-block.twig', {item: weather}) }}
                            {% else %}
                                {{ include('weather-block.twig', {item: weather}) }}
                            {% endif %}
                        </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
